export(
       "setCacheDir",
       "getCacheDir",
       "cacheSweaveDriver",
       "showcache",
       "exprObjects",
       "getExpressions",
       "findExprLocals"
       )

import(utils)
importFrom(codetools, "findGlobals")
importFrom(digest, "digest")
