export(
       "setCacheDir",
       "getCacheDir",
       "cacheSweaveDriver",
       "showcache",
       "getExprObjects",
       "getExpressions",
       "findExprLocals",
       "buildDepTree"
       )

import(utils)
importFrom(codetools, "findGlobals")
importFrom(digest, "digest")
